<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->

<h1>Stupid Coaching</h1>

<div class="form question">
  <h2><%="#{@question}"%></h2>
</div>

<div class="form answer">
  <h2><%="#{@answer}"%></h2>
  <p>Your stupid coach said that</p>
</div>

<%= link_to "Ask a new question", ask_path %>





